// Color pallete
$dark:      hsla(229%,  19%,  22%, 1);
$darkgrey:  hsla(218%,  19%,  38%, 1);
$lightgrey: hsla(180%,   1%,  75%, 1);
$light:     hsla(  0%,   0%, 100%, 1);
$accent:    hsla( 18%,  83%,  63%, 1);

$error:     hsla(  4%,  83%,  63%, 1);

$text: darken($darkgrey, 28);
$heading: darken($text, 10);

$btnPrimary: #f15d1e;
$btnSecondary: #8a94a6;
$btnDanger: #e16960;

$progressBar: complement($accent);
